*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common clss  */

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;

}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
main>section{
    margin: 130px 0;
}
main{
    margin: 130px 0;
}
.text{
    font-size: 1rem;
    color: #727272;
    line-height: 26px;
    
}
.header{
    font-size: 2.9rem;
    font-weight: bold;
    color: #131313;

}
.menu{
    font-size: 1.2rem;
    font-weight: 500;
    color: #424242;
}

.flex{
    display: flex;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    font-size: 1.1rem;
    font-weight: 600;
    color: #ffffff;
    padding: 21px 25px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background:#FF900E ;
}

/* header section  */
.navbar{
    justify-content: space-between;
    padding: 50px 0;
}
ul{
    justify-content: space-between;
    gap:50px ;
    list-style: none;
}
ul li a{
    text-decoration: none;
}
.banner-container{
    margin: 100px 0;
}

.banner-content{
    max-width:862px ;
    text-align: center;
    margin: 0 auto;
}
.banner-content .banner-head{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
    margin-bottom: 50px;

}
.banner-img img{
    width: 100%;
    margin-bottom: 50px;
}
.btn{
    margin: 50px 0;
}
.gray{
color: #727272;
}
.orange{
color: #FF900E;
}

.team-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}
.team-img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.team{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    place-items: center;
}
.team-feature-container h1{
    margin-bottom: 50px;
}



