*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common clss  */

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;

}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
section{
    margin: 130px auto;
}
main{
    margin: 130px 0;
}
.text{
    font-size: 1rem;
    color: #727272;
    line-height: 26px;
    
}
.header{
    font-size: 2.9rem;
    font-weight: bold;
    color: #131313;

}
.menu{
    font-size: 1.2rem;
    font-weight: 500;
    color: #424242;
}

.flex{
    display: flex;
}
.grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    font-size: 1.1rem;
    font-weight: 600;
    color: #ffffff;
    padding: 21px 25px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background:#FF900E ;
}

/* header section  */
.navbar{
    justify-content: space-between;
    padding: 50px 0;
}
ul{
    justify-content: space-between;
    gap:50px ;
    list-style: none;
}
ul li a{
    text-decoration: none;
}
.banner-container{
    margin: 100px 0;
}

.banner-content{
    max-width:862px ;
    text-align: center;
    margin: 0 auto;
}
.banner-content .banner-head{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
    margin-bottom: 50px;

}
.banner-img img{
    width: 100%;
    margin-bottom: 50px;
}
.btn{
    margin: 50px 0;
}
.gray{
color: #727272;
}
.orange{
color: #FF900E;
}

.team-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}
.team-img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.team{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    place-items: center;
}
.team-feature-container h1{
    margin-bottom: 50px;
}

/* feature section  */
.feature{
    margin: 130px auto;
    gap: 150px;
}
.freature-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    padding: 0 0 80px 0;
   
    
}
.freature-img{
     position: relative;
    /* border: 1px solid #000; */
}

.fea-head{
    /* border: 1px solid #000; */
    padding: 5px 20px;
    border-left: 4px solid orange;
    margin-bottom: 30px;
}
.card{
    /* border: 1px solid #000; */
    padding: 30px;
    box-shadow: 0 0 15px  rgb(236, 234, 234);


}

.card-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 30px 0;
}
.card h3{
    font-size: 1.1rem;
    font-weight: 600;
    color: #131313;
    margin-bottom: 20px;
}

.Experience{
    position: absolute;
    left: -80px;
    bottom: 0;
    background-color: #FF900E;
    color: #ffffff;
    padding: 45px;
     border: none;
    border-radius: 10px;
    z-index: 999;
    
}
.Experience h4{
    font-size: 4rem;
    font-weight: bold;
    
}
.Experience p{
   
    font-size: 1.5rem;
    font-weight: 500;

}
.facts-card-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    margin: 50px 0;
}
.facts-card{
    width: 240px;
    height: 240px;
    border: 1px solid #FF900E;
    flex-direction: column;
    border-radius: 5px;
    gap: 5px;
    /* display: flex; */

}
.facts h1{
    margin-bottom: 24px;
}
